@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap');
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
	height: 100vh;
	flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-height: 100vh;

}

#root{
  display: flex;
	height: 100vh;
	flex-direction: column;
}
